/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/** end reset css**/
:root {
  --bgColor: #fffef8;
  --mainColor: #1d6154;
  --hoverBtn: #0e2f28;
}

body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Work Sans";
  font-size: 14px;
}
header,
main {
  max-width: 1140px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 48px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var(--mainColor);
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 16px;
}
nav li:not(:last-child) {
  margin-inline-end: 40px;
  width: 64px;
  text-align: center;
}
li:hover {
  font-weight: 700;
}
.logoutBtn {
  background: none;
  cursor: pointer;
  width: 64px;
  text-align: center;
  display: none;
}

#introduction {
  display: flex;
  align-items: center;
  margin: 64px auto 128px;
  width: 83%;
}
#introduction figure {
  width: 54%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  width: 46%;
  padding-inline-start: 72px;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 1.5em;
}
#portfolio {
  text-align: center;
}
#portfolio h2 {
  margin-block-end: 1.5em;
  display: inline-block;
}
.gallery {
  width: 83%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  height: 100%;
}
.gallery img {
  width: 100%;
  object-fit: cover;
}
.gallery figure {
  text-align: start;
}
.gallery figcaption {
  margin-block-start: 4px;
}
#contact {
  width: 33.33%;
  margin: 64px auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input:not([type="submit"]) {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: white;
  border: none;
  background-color: var(--mainColor);
  margin: 40px auto 0;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--hoverBtn);
}

footer {
  background-color: #fff;
  margin-block-start: auto;
  width: 100%;
}
footer nav {
  max-width: 1440px;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 24px 96px 20px 0;
}

/* Affichage message d'erreur en cas de problème API */
.errorInfo__getData {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-block: 16px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 8px;
  margin-block-end: 32px;
  position: relative;
  display: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    transform: translate(100%, -100%);
    background-image: url(./icons/alert.svg);
  }
}
.errorInfo__getData.active {
  display: block;
}
/* Si aucuns travaux trouvés */
.noResults {
  font-size: 2rem;
  grid-column: 1 / -1;
  font-style: italic;
}

/* Filters buttons */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 48px;
  gap: 12px;
}
.filter__button {
  border: 1px solid var(--mainColor);
  border-radius: 99px;
  background: none;
  min-width: 100px;
  padding-inline: 12px;
  height: 36px;
  font-family: Syne, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--mainColor);
  cursor: pointer;
}
.filter__button:hover,
.filter__button.active {
  background: var(--mainColor);
  color: #fff;
}

/* Login */
.login-form-container {
  text-align: center;
  margin-block-start: 80px;
  width: 380px;
  position: relative;
}

.login-form-container h2 {
  font-size: 36px;
  margin-block-end: 8px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-block-end: 24px;
}

.login-form-container label {
  margin-block-start: 32px;
  margin-block-end: 8px;
  font-size: 14px;
  font-weight: 500;
}

.login-form-container input:not([type="submit"]) {
  height: 48px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forgetPassword {
  background: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.errorMsg {
  font-weight: 600;
  font-size: larger;
  background-color: rgba(220, 20, 60, 0.25);
  padding-block: 16px;
  margin-block-start: 16px;
  border-radius: 8px;
  position: relative;
  display: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    transform: translate(100%, -100%);
    background-image: url(./icons/alert.svg);
  }
}
.errorMsg.active {
  display: block;
}

/* Edit mode */
.editMode__banner {
  background: #000;
  width: 100%;
  padding-block: 16px;
  display: none;
}

.editMode__content {
  color: white;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.modifier {
  background: none;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  gap: 8px;
  margin-inline-start: 32px;
  margin-block-end: 80px;
  cursor: pointer;
  display: none;
}
.modifier:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Edit modal */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog {
  border: none;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  width: 640px;
  height: 680px;
}

.dialog__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog__header {
  display: flex;
  align-items: center;
  padding-block-start: 24px;
  padding-inline: 32px;
}

.dialog__header img {
  display: flex;
  pointer-events: none;
}

.dialog__header button {
  background: none;
  cursor: pointer;
}

.dialog__header__backBtn {
  display: none;
}

.dialog__header__closeBtn {
  margin-inline-start: auto;
  padding: 6px;
}

.dialog__section {
  flex-grow: 1;
  margin-inline: 108px;
  border-block-end: 1px solid #b3b3b3;
}

.dialog__section h3 {
  font-size: 26px;
  text-align: center;
  margin-block-start: 16px;
  margin-block-end: 40px;
}

.dialog__footer {
  padding-block: 40px;
  text-align: center;
}

.dialog__footer button {
  background: var(--mainColor);
  width: 237px;
  height: 36px;
  border-radius: 99px;
  color: #fff;
  font-family: Syne, sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: var(--hoverBtn);
  }

  &.disabled {
    background-color: #a7a7a7;
    cursor: not-allowed;
  }
}

.deletion-gallery__thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 24px;
  column-gap: 8px;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

.deletion-gallery__thumbnails figure {
  position: relative;
}

.deletion-gallery__thumbnails img {
  display: flex;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.delete-button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #000;
  border-radius: 4px;
  cursor: pointer;

  & img {
    position: relative;
    transform: translateY(-1px);
  }
}

/* Ajout Photo */
.add-photo__file {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
  height: 170px;
}

.add-photo__file img {
  margin-block: 16px 10px;
}

.add-photo__file label {
  background-color: #cbd6dc;
  padding-inline: 32px;
  padding-block: 10px;
  border-radius: 99px;
  color: #306685;
  font-weight: 500;
  margin-block-end: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.add-photo__file input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
}

.add-photo__file p {
  font-size: 10px;
  margin-block-end: 12px;
}

.add-photo__input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 24px;
  position: relative;
}

.add-photo__input-container label {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  text-align: start;
}

.add-photo__input-container input,
.add-photo__input-container select {
  background: #fff;
  padding: 0;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.add-photo__input-container select {
  appearance: none;
  cursor: pointer;
  padding-inline: 20px;
}

.select-chevron {
  position: absolute;
  bottom: 0;
  right: 24px;
  transform: translateY(-18px);
  pointer-events: none;
}

/*  */
.add-photo {
  display: none;
}
#add-photo-Btn {
  display: none;
}
