/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/** end reset css**/
:root {
  --bgColor: #fffef8;
  --mainColor: #1d6154;
  --hoverBtn: #0e2f28;
}

body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Work Sans";
  font-size: 14px;
}
header,
main {
  max-width: 1140px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 48px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var(--mainColor);
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 16px;
}
nav li:not(:last-child) {
  margin-inline-end: 40px;
  width: 64px;
  text-align: center;
}
li:hover {
  font-weight: 700;
}
#introduction {
  display: flex;
  align-items: center;
  margin: 64px auto 112px;
  width: 83%;
}
#introduction figure {
  width: 54%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  width: 46%;
  padding-inline-start: 72px;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 1.5em;
}
#portfolio h2 {
  text-align: center;
  margin-block: 1em;
}
.gallery {
  width: 83%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 32px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contact {
  width: 33.33%;
  margin: 64px auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input:not([type="submit"]) {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: white;
  border: none;
  background-color: var(--mainColor);
  margin: 40px auto 0;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--hoverBtn);
}

footer {
  background-color: #fff;
  margin-block-start: auto;
  width: 100%;
}
footer nav {
  max-width: 1440px;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 24px 96px 20px 0;
}

/* Affichage message d'erreur en cas de problème API */
.errorInfo.active {
  color: crimson;
  font-size: 1.5rem;
  text-align: center;
  padding-block: 16px;
  background-color: rgba(255, 255, 0, 0.25);
  border-radius: 99px;
}
/* Si aucuns travaux trouvés */
.noResults {
  font-size: 2rem;
  grid-column: 1 / -1;
  font-style: italic;
}

/* Filters buttons */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 48px;
  gap: 12px;
}
.filter__button {
  border: 1px solid var(--mainColor);
  border-radius: 99px;
  background: none;
  min-width: 100px;
  padding-inline: 12px;
  height: 36px;
  font-family: Syne, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--mainColor);
  cursor: pointer;
}
.filter__button:hover,
.filter__button.active {
  background: var(--mainColor);
  color: #fff;
}
